@use "../utils/colors";
.city {
    background-color:colors.$color_city;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap:1rem;
    padding: 1rem;
    font-weight: bold;
    i{
      font-size: 1.2rem;
    } 
   
}