@use "../utils/mixins.scss";
@use "../utils/colors.scss";

.restaurant {
    background-color: colors.$lightgrey ;
    padding: 2rem 5rem;
  
    @media screen and (max-width:900px) {
        padding: 2rem 1rem;
    }

   

    .cards {
        display: flex;
        flex-wrap: wrap;
        gap: 4rem;
        padding-bottom: 4rem;
        padding-top: 2rem;
        @media screen and (max-width:900px) {
            display: flex;
            flex-direction: column;

        }


    }

    .card {
        cursor: pointer;
        position: relative;
        height: 18rem;
        flex-grow: 1;
        min-width: 20rem;
        display: flex;
        flex-direction: column;
        flex-basis: 40%;
        background-color: white;
        border-radius: 1rem;
        box-shadow: 0 3px 8px darkgray;

        @media screen and (max-width:900px) {
            
            width: 99%;

        }

        img {
            width: 100%;
            object-fit: cover;
            min-height: 180px;
            max-height: 210px;
            border-radius: 1rem 1rem 0 0;
        }

        .description {
            position: relative;
           i{
            font-size: 2rem;
            position:absolute;
            right: 1rem;
            top: 50%;
            transform:translatey(-50%);
           }
            .fas{
                color: transparent;
                background-clip: text;
                -webkit-background-clip: text;
                opacity: 0;
                transition: all 200ms ease-in-out;
                @include mixins.gradient-linear; 
            }
            :hover .fas{
                opacity: 1;
                transform:translatey(-50%)scale(1.2);

            }


                h3, p {
                    margin: 0.8rem;
                   
                }
            

            
  }

    }

    span {
        position: absolute;
        content: "";
        right: 10px;
        top: 20px;
        font-weight: bold;
        background-color: colors.$color-tertiary;
        color: #2FAF94;
        padding: 0.5rem;
        width: 90px;
    }

}