@keyframes appear{
    0%{
        transform: translatey(50%);
        opacity: 0;
    }
    100%{
        transform: translatey(0);
        opacity: 1;
        
    }
}
@keyframes desappear {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }

}